<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--BoardMapper 경로 정확하게 설정해야 함 -->
<mapper namespace="com.example.blog.mapper.CategoryBoardMapper">

    <select id="categoryBoardList" resultType="com.example.blog.dto.CategoryBoardDTO">
        SELECT *
        FROM board
        where category = #{category}
        ORDER BY idx desc
    </select>

    <select id="getPersonBlogBoard" resultType="com.example.blog.dto.CategoryBoardDTO">
        SELECT *
        FROM board
        WHERE idx = #{idx}
    </select>

    <update id="updateHitCnt" parameterType="com.example.blog.dto.CategoryBoardDTO">
        UPDATE board
        SET hit = IFNULL(hit, 0) + 1
        WHERE idx = ${idx}
    </update>

    <select id="getPersonBlogCategory" resultType="com.example.blog.dto.PersonBlogCategoryDTO">
        SELECT category, name, count(*)
        FROM board
        WHERE name = #{name}
        group by category
    </select>

</mapper>